*{
  margin: 0px;
  padding: 0px;
}


.header {
  background-color: rgb(226, 43, 195);
  height: 70px;
 
}
.header h1{
  margin-left: 10px;
  padding-top: 15px;
 
  
  display: flex;
  flex-direction: column;
 
  float: left;
  font-size:30px;
  color: rgb(172, 223, 32);

}
.header img{
  height: 50px;
  width: 50px;
  margin-left: 10px;
  border-radius: 20px;
  padding-top: 10px;
  float: left;
}
.search{

  float: right;
  border-radius: 10px;
  width: 500px;
  height: 40px;
  margin-top: 15px;
  margin-right: 200px;
  text-align: left;
  text-height: 40px;
}

@media(max-width:700px)
{
  .header{
    width: 700px;
  }
  .search{
    width:40%;
  }
}